<div class="jumbotron">
    <h1>Bon Prix REST WEB API</h1>
    <p class="lead">Bon Prix Web API provides REST services</p>

    <table border="0" width="100%">
        <tr>
            <td>&nbsp;</td>
            <td align="center">

                <table border="0" align="left" width="100%">
                    <tr>
                        <td>Product Data</td>
                        <td>&nbsp;</td>
                        <td align="right">/api/ProductData</td>
                    </tr>
                    <tr>
                        <td>Dispatch Notification</td>
                        <td>&nbsp;</td>
                        <td align="right">/api/DispatchNotification</td>
                    </tr>
                    <tr>
                        <td>Intercompany Invoice</td>
                        <td>&nbsp;</td>
                        <td align="right">/api/Invoice</td>
                    </tr>
                </table>

            </td>
            <td>&nbsp;</td>

        </tr>
    </table>


</div>
