<div class="jumbotron">
    <h1>Bon Prix REST WEB API</h1>
    <p class="lead">Bon Prix Web API provides REST services through the generic OpenXML methods. The DispatchNotification method simply calls OpenXML purely to give the illusion that we are processing a particular message</p>
</div>
